body {
    background-color: gray;
    user-select: none;
}

#t1 {
    display: block;
    margin-bottom: 30px;
}

#t2 {
    display: block;
    margin-bottom: 30px;
}

#t3 {
    display: block;
    margin-bottom: 30px;
}

#t4 {
    display: block;
    margin-bottom: 30px;
}

#t5 {
    display: block;
    margin-bottom: 30px;
}

.c {
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    margin-right: 30px;
    cursor: pointer;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 90%;
}

.l {
    background-color: khaki;
    box-shadow: 0px 0px 7px 2px rgba(255, 255, 30, 60%);
    border: 1px solid khaki;
}

.b {
    background-color: gray;
    border: 1px solid black;
}

#n {
    text-align: center;
}

.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    border: 1px solid black;
    border-radius: 90%;
}

#app {
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 500px; */
    height: 500px;
}

#board4 {
    padding-top: 40px;
    padding-left: 100px;
    margin-bottom: 30px;
}

#board4 .even {
    margin-left: 30px;
}

.clicked {
    border-color: red;
}

#turn {
    display: inline-block;
    margin-left: 6px;
}

#initButton {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    background-color: white;
    font-size: larger;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    cursor: pointer;
}

#nu {
    text-align: center;
    height: 80px;
    margin-left: -20px;
}

#in {
    text-align: center;
    margin-left: -20px;
}

#on_number {
    font-size: xx-large;
}

#p {
    display: flex;
}

#test {
    display: block;
    height: 700px;
    width: 400px;
    background-color: white;
    padding-top: 10px;
}

#test #current {
    color: rgba(0, 0, 0, 0%);
    border: 1px solid black;
    vertical-align: middle;
}

#game {
    width: 500px;
}